/* form */


.form-group{
    display: flex;
    flex-direction: column;
}

.form-group input, .form-group select, .form-group textarea{
    width: 100%;
    margin-bottom: 20px;
    /* background-color: var(--gray-light); */
    border-radius: 8px;
    padding: 5px 10px;
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px var(--black);
    
}


.form-group button{
    border-radius: 8px;
    padding: 10px;
    background-color: var(--black);
    cursor: pointer;
    border: solid 1px var(--black);
    color: white;
}


.form-group button:hover{
    background-color: var(--white);
    color: var(--black);
    /* transform: scale(1.15); */
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
}

.form-group-button{
    display: flex;
    justify-content: right;
    gap: 10px;
}