header{
    background-image: url(../images/background-top.jpg);
    background-size: cover;
    background-position: center;
}


.header-main{
    background-color: var(--shawdow);

}

.header-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: var(--shawdow); */
    /* height: 400px; */
    min-height: 400px;
}

.header-text, .header-logo {
    width: 50%;
    color: var(--white);
    padding: 40px;
}

.header-logo img{
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.header-logo{
    display: flex;
    justify-content: center;
}


.header-text {
    text-align: center;
    background-color: var(--shawdow);
}


/* nav bar */
nav ul{
    display: flex;
    justify-content: center;
}

nav li{
    list-style: none;
}

.nav-top li a{
    text-decoration: none;
    color: var(--white);
    padding: 10px 20px;
}

.nav-top{
    line-height: 40px;
    background-color: var(--black);
}

.nav-top li a:hover{
    color: var(--gray);
    background-color: var(--white);
    border-bottom: solid 4px var(--gray);
}

/* Cards */

section{
    margin: 10px;
}

.card{
    width: 250px;
    height: 370px;
    border: solid 2px var(--black);
    margin: 10px;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text{
    text-align: center;
    font-family: var(--font-title);
}

.card-img{
    height: 250px;
}

.card-content > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 10px; */
    margin-top: 300px;
    margin-bottom: 300px;
}

/* Contact */

.contact{
    display: flex;
    border: solid 2px;
    padding: 40px;
}

.contact-map, .contact-form{
    width: 50%;
    padding: 40px;
}

.contact-map h2{
    font-size: 22px;
    padding: 10px 0;

}

.contact-map p{
    font-size: 18px;
    margin-bottom: 10px;
}
