
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import "./nav.css";

:root{
    --blue: #1abad6;
    --white: white;
    --black: #222222;
    --gray: #444444;
    --gray-light: rgb(224, 224, 224);
    --shawdow: rgba(0, 0, 0, 0.5);
    --font-title: 'serif';
    --font-primary: 'roboto';
    --font-size: 16px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);
    font-size: var(--font-size);
}

a{
    color: var(--gray);
    text-decoration: none;
}

.container{
    width: 100%;
    min-width: 340px;
    max-width: 1280px;
    margin: auto;
}